<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- oracle 기준  -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <!--
          db관련 정보 properties에 넣기위함 용
          classpath는 resources 처럼 Structure에 들어가서 resources등록하면 됨
     -->
    <context:property-placeholder location="classpath:/config/config.properties" />

    <!-- Mysql <-> Mybatis를 연결해주는 객체
         mybatis-config.xml - mybatis alias 지정하는 파일
         resources - mapper 디렉토리 안에 DB 쿼리문 파일있음
     -->
    <bean id="sqlSessionFactory" class="com.jy.fh.core.RefreshableSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <!-- mapperLocations에서 classpath* 붙여줘도되고 안붙여줘도 되고 !!! -->
        <property name="mapperLocations" value="classpath:/mapper/*.xml"/>
        <property name="interval" value="1000" />
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"></constructor-arg>
    </bean>
</beans>